<?xml version="1.0"?>
<phpunit 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.2/phpunit.xsd" 
backupGlobals="false" beStrictAboutTestsThatDoNotTestAnything="true" 
beStrictAboutChangesToGlobalState="true" 
beStrictAboutOutputDuringTests="true" 
colors="true" 
processIsolation="false" 
stopOnFailure="false" 
bootstrap="tests/bootstrap.php" 
cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="Test Suite">
      <directory  suffix="Test.php">./tests/</directory>
    </testsuite>
    <testsuite name="Modules Test Suite">
        <directory suffix="Test.php">./src/modules</directory>
        <!-- Exclude any vendor directories inside modules -->
        <exclude>./src/modules/*/vendor</exclude>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="test" />
    <env name="DB_CONNECTION" value="sqlite"/>
    <env name="DB_DATABASE" value=":memory:"/>
    <env name="DB_PREFIX" value="myapp_"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
  </source>
</phpunit>
